<% @title="Contact - Katie M Fritz" %>
<% @bodyclass="contact" %>

<div class="container">
	<div class="row">
	 	<div class="well">
		 	<h1>Contact</h1>
		</div>
	</div>
	<div class="row">
		<div class="well">
		 	<p class="lead"><%= icon("envelope") %>The best way to reach me is at <a href="mailto:katie@katiemfritz.com">katie@katiemfritz.com</a>.</p>
		 	<p class="lead"><%= icon("phone") %>Prefer phone? Call my cell at <a href="tel:+15172923020">517.292.3020</a>. I’m in the Eastern time zone.</p>
	 	</div>
	</div>
</div>
