<% @title="Contact - Katie M Fritz" %>

<div class="container">

		 <div class="starter-template">
			 <h1>Contact</h1>
			 <p class="lead">The best way to reach me is at <a href="mailto:katie@katiemfritz.com">katie@katiemfritz.com</a>.</p>
			 <p>Prefer phone? Call my cell at <a href="tel:+15172923020">517.292.3020</a>. I’m in the Eastern time zone.</p>
			 <hr>
		 </div>

	 </div>
