<% @title="Services" %>

    <div class="row">
		  <div class="container">
        <h1>Services</h1>
        <p>Are you stuck with a website you can’t update, or a server you can’t access? Was your site last updated in 2012? Do you spend too much time or money maintaining the site, but can’t figure out why it’s there? Does your website embarrass you? It’s time to let go of that frustration and improve your relationship with your website.</p>
        <p>The following solutions will help you stop seeing your website as a necessary evil and start seeing it as an indispensable, intuitive, empowering resource. Your organization has a mission, and your website should too. Working closely together and with input from other key stakeholders, we’ll design solutions for your unique situation.</p>
      </div>
    </div>


    <div id="service1" class="row stripe">
			<div class="container">
        <div class="col-md-5">
          <h2>Sustainable Website Design & Development</h2>
          <p class="lead">Most organizations go through a website lifecycle. Spend a lot of time and money creating a new site; launch the shiny new site; keep it updated and functional for a while; get busy and let things slide; start over. Sound familiar?</p>

          <p class="lead">But what if you never had to go through that cycle again? With the right strategy up front and a commitment to continuous small investments, you can keep your website relevant, valuable, and fresh indefinitely.</p>
        </div>
        <div class="col-md-5">
          <h3>What you get</h3>
          <ul>
            <li>Web strategy package (see below)</li>
            <li>Content coaching</li>
            <li>Sustainable, custom-designed website on your own hosting account</li>
            <li>Documentation and training</li>
          </ul>
          <h3>Price</h3>
          <p>Starts at $7,500</p>
        </div>
      </div>
		</div>
		<div id="service2" class="row stripe">
			<div class="container">
        <div class="col-md-6">
          <h2>Web Strategy Package</h2>
          <p class="lead">Not ready for a whole new website, but want to make improvements? Need to save money by developing your site in house? This essential package will point you in the right direction. Past clients have found these tools helpful not just for marketing, but also for program delivery.</p>
				</div>
				<div class="col-md-6">
          <h3>What you get</h3>
          <ul>
						<li>Analytics report and custom Google Analytics dashboard</li>
						<li>Content inventory of your current site</li>
						<li>Channel map</li>
						<li>Up to six persona descriptions</li>
						<li>Up to four user journeys</li>
						<li>Voice profile</li>
						<li>Voice/tone/style guide template</li>
						<li>Core content strategy statement</li>
          </ul>
          <h3>Price</h3>
          <p>Starts at $2,500</p>
        </div>
      </div>
