// $body-bg: #6600cc;
// $jumbotron-bg: #efefef;
// $jumbotron-heading-font-size: 36px;
// $jumbotron-font-size: 18px;
// $border-radius-base: 8px;
// $border-radius-small: 4px;
// $border-radius-large: 10px;
// $brand-primary: #009933;
// $brand-success: #00cc44;
// $text-muted: #ddd;
$font-family-sans-serif: 'Lato', 'Arial', sans-serif;
$headings-font-weight:  700;
$font-size-base: 18px;

@import 'bootstrap';

/*************************************
NAVIGATION
**************************************/
.navbar-fixed-top {
  img {
    max-width: 45px;
    margin: 0 10px;
  }
  i.fa {
    font-size: 1.25em;
  }
}

.navbar-collapse {
  min-height: 100px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
main {
  padding-top: 100px;
}

/*****************************************
STRIPES
******************************************/
#service1 {
	background-color: #ccc;
}

/****************************************
footer
*****************************************/

footer {
  background-color: #f5f5f5;
  padding-top: 20px;
}
