// ---------
// VARIABLES
// ---------

// Bootstrap's variables:
// http://getbootstrap.com/customize/#less-variables

// Colors
$brand-primary: #1E8A8E;
$brand-secondary: #D6E9D1;
$gray-base: #07080B;
$gray: #bdc3c7;

// Scaffolding
$link-color: $brand-primary;
$body-bg: #EFEFE9;
$grid-gutter-width: 30px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Typography
$font-family-sans-serif: 'Open Sans', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$headings-font-weight: 700;
$font-size-h2: floor($font-size-base * 1.6);
$font-size-h3: ceil($font-size-base * 1.3);

// Components
$padding-base-vertical: 10px;

// Navbar
$navbar-default-bg: white;
$navbar-height: 100px;
$navbar-brand-logo-height: $navbar-height / 2;
$navbar-brand-vertical-padding: ($navbar-height - $navbar-brand-logo-height) / 2;

// Jumbotron
$jumbotron-bg: $brand-secondary;

// Panels
$panel-default-heading-bg: $brand-secondary;
$panel-bg: white;
$panel-heading-padding: #{$grid-gutter-width / 2} #{$grid-gutter-width};
$panel-body-padding: $grid-gutter-width;

// Wells
$well-bg: white;

// Type
$hr-border: #ddd;

// ---------
// BOOTSTRAP
// ---------

@import 'bootstrap';

// ----------
// NAVIGATION
// ----------

.navbar {
  .navbar-brand {
    padding-top: $navbar-brand-vertical-padding;
    padding-bottom: $navbar-brand-vertical-padding;
    > img {
      height: $navbar-brand-logo-height;
    }
  }
  i.fa {
    font-size: 1.25em;
    color: $brand-primary;
    &:hover {
      color: lighten($brand-primary, 30%);
    }
  }
}

// Move down content because we have a fixed navbar
main {
  padding-top: $navbar-height + $navbar-margin-bottom;
}

// enable hover on menu dropdowns
@media only screen and (min-width:$screen-sm) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

// ------
// FOOTER
// ------

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; /* Set the fixed height of the footer here */
  background-color: $navbar-default-bg;
  padding-top: 20px;
}

main {
  margin-bottom: 100px; /* Increase margin bottom by footer height */
}

// ------
// GLOBAL
// ------

main .container {
  margin-bottom: $grid-gutter-width;
  > .well, .row, .featurette {
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
}

.well, .row, .featurette, [class^="col-"] {
  > :first-child { margin-top: 0; }
  > :last-child  { margin-bottom: 0; }
}

main a {
  text-decoration: underline;

  &.btn { text-decoration: none; }
}

.well {
  border: none;
  padding: $grid-gutter-width;
}

.panel {
  border: none;
}

.panel-heading {
  padding: 0;
  > h3 > a {
    display: block;
    padding: $panel-heading-padding;
    text-decoration: none;
  }
}

.panel-body {
  > :first-child { margin-top: 0; }
  > :last-child  { margin-bottom: 0; }
}

// ----
// HOME
// ----

.home .jumbotron {
  margin-top: -#{$navbar-margin-bottom};

  h1 { color: $brand-primary; }
}

// -----
// ABOUT
// -----

.featurette {
  display: flex;
  flex-direction: row;
  margin-bottom: $grid-gutter-width;

  p { @extend .lead; }

  > div {
    margin: 0;

    img {
      @extend .hidden-sm;
      @extend .hidden-xs;
      max-width: 300px;
    }
  }
}

// --------
// SERVICES
// --------

// Back to top links on services page
.services {
  a .top {
    font-weight: 700;
    color: $gray;

    &:hover { color: $link-color; }
  }

  i {
    padding-right: 10px;

    &.fa { font-size: 1.25em; }
  }

  .service {
    padding: #{$grid-gutter-width * 2} 0;

    &:nth-child(even) {
      background-color: $brand-secondary;
    }

    > .container {
      margin-bottom: 0;
    }
  }
}
